.class1{
    position: fixed;
    top:120px;
    left:40px;
    width:600px;
    display:inline-block;
    text-align: center;
    background-color:white; 
    min-height:100px
}

.class1:hover{
    
    /* background-color: aqua; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.class2{
    border-radius: 50%;
    margin:40px 0px 15px 0px;
}

.classb1{
    position: absolute;
    top:250px;
    left:65px;
}
.setbackgrnd{
   background-color:  #e6ecf0;
}
.myname{
    font-family: 'Oswald', sans-serif;

}
